* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7b7b7b;
}

#home_container {
    width: 100vw;
    height: 100vh;
    /* background-color: whitesmoke; */
    background-image: url('../images/duotone_2-min.png');
    /* background: linear-gradient(45deg, #560027, rgb(154, 22, 22), #F47A03 99%); */
}

#home_container menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    min-width: 30%;     
    margin: auto;

    padding: 25px;
   
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: inset 3px 3px 6px 1px #c6c6c6
}

#home_container menu ul{
    text-align: center;
    list-style-type: none;
}

#home_container menu ul li{
    margin: 15px auto 0 auto;
    width: fit-content;
    box-shadow: 3px 3px 4px 1px #c6c6c6, -3px -3px 4px 1px #ffffff;
    border-radius: 10px;
    padding: 5px;
}

#home_container menu ul li a{
    
    text-decoration: none;
    
    padding: 5px;
}
#name_input{
    background: transparent;
    margin-top: 5px;
    border: none;
    padding-left: 10px;
    border-radius:5px;
    padding: 10px;
    box-shadow: inset 3px 3px 4px 1px #c6c6c6, inset -3px -3px 4px 1px #ffffff;
}

#name_input:focus{
    outline: none;
}


@media screen and (min-width:800px) {
    #home_container menu{
        min-width: 20%;
    }
}