<link rel="stylesheet" href="../css/titleSS.css">
<header id="title">
    <h1>The Phisherman's <span class="joust_changing"><span id="j_3">J</span><span id="j_1">O</span><span
                id="j_5">U</span><span id="j_2">S</span><span id="j_4">T</span></span></h1>
</header>