<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404SS.css">
    <title>Document</title>
</head>

<body>
    <div id="main_container">
        <span id="_404">404</span>
        <div id="t_container"><span id="_404_text">Page not found</span></div>
    </div>
</body>

</html>