<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/homeSS.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <title>The Phisherman's <span style="color: rgb(36, 209, 134)">Joust</span></title>
</head>

<body id="body">
    <div id="home_container">
        <menu>
            <ul>
                <input id='name_input' type="text" placeholder="Name">
                <li><a href="/game">Player</a></li>
                <li><a href="/spectate">Spectator</a></li>
            </ul>
        </menu>
        
        <!-- TEMP MUSIC CONTROL -->
        <button id="play-button">Play/Pause</button>
        <button id="restart-button">Restart song</button>
        <div id = "bpm"></div>
        <!-- END TEMP MUSIC CONTROL -->
    </div>
    <!-- SOCKET IO -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/fullscreen.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    <!-- MUSIC SCRIPTS -->
    <script src="/lib/Tone.min.js"></script>
    <script src="/js/music.js"></script>
    <!-- END MUSIC SCRIPTS -->
</body>

</html>
