<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/homeSS.css" rel="stylesheet" type="text/css">
    <title>The Phisherman's Joust</title>
</head>
<body>
    <div id="home_container" style="background-image: url('../images/duotone_2-min.png');">
        <menu>
            <ul>
                <input id='name_input' type="text" placeholder="Name">
                <li><a href="/game">Player</a></li>
                <li><a href="/spectate">Spectator</a></li>
            </ul>
        </menu>
    </div>
</body>
</html>