<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Phisherman's Joust</title>
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <link rel="stylesheet" href="/css/landing.css">
</head>

<body>
    <div id="main_container">
        <%- include("partials/title") %>
        <section id="menu_container">
            <header>
                <section id="joust_image"> <img src="/images/joust_character.gif" width="100%"></section>
                <section id="text">
                    <h2>Are you ready to <span class="joust_changing"><span id="j_1">J</span><span
                                id="j_2">O</span><span id="j_3">U</span><span id="j_4">S</span><span
                                id="j_5">T</span></span>?</h2>
                </section>
            </header>
            <div id="button_container">
                <button>
                    <a href="/login" class="button">
                        Play
                    </a>
                </button>
                <button>
                    <a href="/spectate" class="button">
                        Spectate
                    </a>
                </button>
                <button>
                    <a href="/lobby" class="button">
                        Host
                    </a>
                </button>
            </div>
        </section>
    </div>
</body>
<script src="/js/landing.js"> </script>

</html>