<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo.png">
    <title>Lobby</title>
    <link rel="stylesheet" href="/css/lobby.css">
</head>

<body>
    <header>
        <h1>The Phisherman's <span style="color: rgb(36, 209, 134)">Joust</span></h1>
    </header>
    <div class="container">
        <div class="left-container">
            <h2>Scan to Join</h2>
            <div class="qr-container">
                <img src="../images/qrcode.png" alt="qrcode" class="qrcode">
            </div>
            <div class="url">
                <p>url: https://the-phishermen-joust.herokuapp.com/</p>
            </div>

            <div class="url" id="music-bpm">Music Speed: 100%</div>

            <div class="start-button" id="start-game">
                Start Game
            </div>

        </div>
            <div class="right-top-container">
                <ul class="player-ul">
                    <li class="header-li">
                        <div class="player">Player</div>
                        <div class="status">Status</div>
                    </li>
                </ul>
            </div>
            <div class="right-bottom-container">
                <div class="button-container">
                    <div class="button" id="pause-music">
                        Pause
                    </div>
                </div>

                <div class="button-container">
                    <div class="button" id="restart-music">
                        Restart
                    </div>
                </div>

                <div class="button-container">
                    <div class="button" id="increase-music">
                        Faster
                    </div>
                </div>

                <div class="button-container">
                    <div class="button" id="decrease-music">
                        Slower
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/lobby.js"></script>

<!-- MUSIC SCRIPTS -->
<script src="/lib/Tone.min.js"></script>
<script src="/js/music.js"></script>
<!-- END MUSIC SCRIPTS -->

</html>