<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <title>Login</title>
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div id="main_container">
        <%- include('partials/title') %> 
        <div id="page_container">
            <div id="status_sheet">
                <h2>Game rules:</h2>
                <p>The goal of the game is to try keep your phone as still as possible. Eliminate other players by
                    bumping their phones. Powerups are randomly awarded during the game.</p>
                <br>
                <h2>Shake or tap your phone to show you are ready!</h2>
            </div>
            <div id="login_sheet">
                <div id="container_details">
                    <h2 class="prompt">Please enter your username</h2>
                    <input type="text" id="username_input" placeholder="Username" autocorrect="off"
                        autocapitalize="off" autocomplete="off" required>
                    <button type="submit" id="button_input">Join Game!</button>
                </div>
            </div>
            <div id="indicator_sheet"></div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let bg = document.getElementById('page_container')
        let container = document.getElementById('container_details');
        window.addEventListener('load', () => {
            if ((navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform))) {
                container.style = "display: none;"
                let btn = document.createElement('button');
                btn.addEventListener('click', getAccel)
                btn.style = 'border: 5px solid black; position: absolute; left: 50%; transform: translateX(-50%); width: 250px; color:#24d186; border-color: #24d186; padding: 14px 14px; border-radius: 10px; font-size: 14px; background-color: #111;'
                btn.innerHTML = "Tap to get accelerometer access"
                bg.appendChild(btn);
                
            }
            function getAccel() {
                DeviceMotionEvent.requestPermission().then(response => {
                    if (response == 'granted') {
                        console.log("accelerometer permission granted");
                        this.style.display = 'none';
                        container.style = "display: block;"
                    }
                });
            }
        })
    })
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/fullscreen.js"></script>
<script src="/js/login.js"></script>

</html>