<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/spectatorSS.css" rel="stylesheet" type="text/css">
    <title>Spectator</title>
</head>

<body>
    <div id="spectator_container">
        <h1>Leaderboard</h1>
        <section id='pad_container_leaderboard' class="border">
            <header>
                <span>Status</span>
                <span>Player</span>
            </header>
            <section id="leaderboard">
                <ol>
                    <% players.forEach(obj=>{ %>
                        <% if(obj.status.toLowerCase() === 'eliminated') {%>
                            <li class="out">
                                <span><%= obj.status %></span>
                                <span><%= obj.username %></span>
                            </li>
                        <% }%>  
                    <% }) %> 
                </ol>
            </section>
        </section>
        <h1>Playing</h1>
        <section id='pad_container_playing' class="border">
            <header>
                <span>Status</span>
                <span>Player</span>
            </header>
            <section id="playing">
                <ol>
                    <% players.forEach(obj=>{ %>
                        <% if(obj.status.toLowerCase() !== 'eliminated') {%>
                            <li class="in">
                                <span><%= obj.status %></span>
                                <span><%= obj.username %></span>
                            </li>
                        <% }%>  
                    <% }) %> 
                </ol>
            </section>
        </section>
    </div>
    <script src="/js/fullscreen.js"></script>
</body>

</html>