<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spectator</title>
</head>
<body>
    <div id="spectator_container">
        <header>
            <head>
                <span>Rank</span>
                <span>Player</span>
            </head>
            <section>
                <ol>
                    <% dummy.forEach(obj=>{ %>
                        <li><%= obj._rank || "Playing" %></li>
                        <li><%= obj._name %></li>
                    <% }) %>
                </ol>
            </section>
        </header>
    </div>
</body>
</html>