<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Keen.</title>
    <link rel="icon" type="image/png" href="/images/logo1.png">
    <link rel="stylesheet" href="/css/winner.css">
</head>
<body>
    <div class="canvas-container">
        <canvas class="main_canvas"></canvas>
    </div>
    <div class="title-container">
       <h1 class="title">Who is the winner?</h1> 
    </div>
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/winner.js"></script>
</html>
