@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #fff;
    font-family: 'Orbitron', sans-serif;
}
html{
    height: 100%;
    width: 100%;
}
body { 
    height: 100%; 
    width: 100%;
    background-color: #111;
}
#main_container {
    height: 100%;
    width: 100%;
    /* min-height: -webkit-fill-available; */
    
    display: grid;
    grid-template-rows: 1fr 9fr;
    row-gap: 20px;
    background-color: #111;
}

h2 {
    font-size: 3vmax;
}

a {
    text-decoration: none;
}

#menu_container {
    display: grid;
    height: 100%;
    width: 95%;
    
    grid-template-rows: 1fr 1fr;
    
    text-align: center;

    margin: auto;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;
}
#menu_container header{
    height: 100%;
    
    display: grid;
    grid-template-rows: 3fr 1fr;
}
#menu_container header section{
    height: 100%;
    width: 100%;
}
#menu_container header section img {
   width: 300px;
}
#text .joust_changing{
    font-size: 3vmax;
}

#button_container {
    width: 225px;
    height: 100%;
    margin: auto;

    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* row-gap:30px; */
    text-align: center;
    /* padding: 1em; */
}
#button_container button{
    height: 80%;
    width: 100%;
    background: transparent;
    border: none;
    text-align: center;
}
.button {
    display: inline-block;
    padding: 15px;
    width: 100%;
    font-weight: 900;
    font-size: 3.5vmax;

    background-color: rgb(36, 209, 134);
    border-radius: 10px;
    /* padding-top: 7%; */
}

/* Media queries */
@media screen and (min-width:900px) {
    .button{
        font-size: 2.5vmax;
    }
}

@media screen and (max-width:319px){
    #menu_container{
        grid-template-rows: 1fr 2fr;
    }
    #menu_container header section{
        display: flex;
        align-items: center;
        text-align: center;
    }
    #menu_container #joust_image{
        display: none;
    }
    #button_container{
        height: 80%;
        width: 180px;
    }
    #text h2{
        margin: auto;
    }

}

@media screen and (max-height:600px) {
    #menu_container #joust_image{
        display: none;
    }
    #menu_container{
        grid-template-rows: 1fr 5fr;
    }
    #menu_container header section{
        display: flex;
        align-items: center;
        text-align: center;
    }
    #text h2{
        margin: auto;
    }
}