@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #fff;
    font-family: 'Orbitron', sans-serif;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(36, 209, 134, .3);
}
html {
    padding: 10px;
    height: 100%;
    width: 100%;
}
body {
    height: 100%;
    width: 100%;
    background-color: #111;
}
button{
    border: none;
}
#main_container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-rows: 1fr 9fr;
    row-gap: 20px;
    background-color: #111;
}
h2 {
    font-size: 2vmax;
    /* padding: 5%; */
}
#controls_container {
    display: grid;

    height: 100%;
    width: 95%;
    
    grid-template-rows: .7fr .3fr;

    text-align: center;

    margin: auto;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;
}
#r1 {
    height: 90%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 3fr;
}
#left_container {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 100%;
    height: 100%;
    text-align: center;
}
#qr_info{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: grid;
    grid-template-rows: 1fr .6fr;
}
#qr_container {
    width: 100%;
    height: fit-content;
    /* background-color: orange; */
}
#qrcode_img {
    /* height: 210px;
    width: 210px;
    padding: 20px; */
    width: 80%;
    border-radius: 20px;
    /* display: none; */
}
#url {
    width: 95%;
    font-size: 2vmax;
    margin: auto;
}

#start_restart_controls{
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    row-gap: 15px;
}

#right_top_container {
    width: 100%;
    height: 100%;
    /* padding: 2%; */
    overflow-y: scroll
}

#header_li {
    display: flex;
    flex: 1;
    border-bottom: 3px solid rgb(36, 209, 134);
    font-weight: 900;
    padding-bottom: 5px;
}

/* Appended with js */
.player-li {
    display: flex;
    flex: 1;
    /* padding-top: 1%;
    padding-bottom: 1%; */
    font-weight: 400;
}
.player-li:nth-child(2n) {
    background-color: rgba(36, 209, 134, .1);
}
.player {
    display: flex;
    width: 50%;
    justify-content: center;
}
.status {
    display: flex;
    width: 50%;
    justify-content: center;
}
/* Footer */
#r2 {
    height: 100%;
    width: 100%;
}
#right_bottom_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 10px;
}
#music_buttons{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

.button {
    font-weight: 900;
    font-size: 14px;
    background-color: rgb(36, 209, 134);
    border-radius: 10px;
    
    text-align: center;
    cursor: pointer;

    width: 90%;
    margin: auto;
    padding: 10px;
}

#music_buttons button{
    font-size: 11px;
}

#music_details_slider{
    display: grid;
    height: 90%;
    border-left: 2px solid rgb(36, 209, 134);
}
.music-label {
    width: 50%;
    /* font-size: 95%; */
    display: inline;
    padding: 0 5px 0 5px;
}
.music-label:first-child{
    border-right: 2px rgb(36, 209, 134) solid; 
}
.slider-container {
    width: 90%;
    margin: auto;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(36, 209, 134);
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(36, 209, 134);
    cursor: pointer;
}

@media screen and (max-width:330px) {
    #controls_container{
        grid-template-columns: none;
        grid-template-rows:1fr .4fr;
        height: fit-content;
    }
    #r1{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        row-gap: 0;
    }
    #left_container{
        grid-template-rows: 1fr .5fr;
    }
    #qrcode_img{
        width: 50%;
    }
    #r2{
        height: 100%;
    }
    #right_top_container{
        margin-top: 10px;
        height: 100%;
        overflow-y: scroll;
    }
}
@media screen and (min-width:730px){
    #qrcode_img{
        width: 150px;
    }
    #url{
        font-size: 1.5vmax;
    }
}
@media screen and (min-width:840px){
    #right_bottom_container {
        width: 100%;
        height: 100%;
        padding: 0;
        margin-top: 10px;
    }
    #controls_container {
        grid-template-rows: .7fr .3fr;
    }
    .button, #music_buttons button{
        font-size: 22px;
    }
    #header_li{
        font-size: 28px;
    }
    .player-li{
        font-size: 20px;
    }
}