@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    /* outline: 1px solid white;    */
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    flex-direction: column;
    
}

header {
    width: 95vw;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1vmax;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;
}

h1 {
    font-size: 3vmax;
}

h2 {
    font-size: 2vmax;
    padding: 5%;
}

p {
    font-size: 1vmax;
}

.container {
    display: flex;
    width: 95vw;
    margin-bottom: 5vh;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;
    flex-wrap:wrap;
}

.left-container {
    display: flex;
    flex-direction: column;
    width: 28%;
    height: 80%;
    padding: 2%;
    justify-content: center;
    text-align: center;
}

.qr-container {
    display: flex;
    flex: 1;
    padding: 2%;
    justify-content: center;
    align-items: center;
}

.qrcode {
    width: 70%;
}

.url {
    padding: 2%;
}

.start-button {
    font-weight: 900;
    font-size: 3vmax;
    background-color: rgb(36, 209, 134);
    border-radius: 10px;    
    padding: 1%;
    width: 100%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.music-button {
    font-weight: 700;
    font-size: 2vmax;
    background-color: rgb(36, 209, 134);
    border-radius: 10px;
    cursor: pointer;
}


.button {
    font-weight: 900;
    font-size: 2vmax;
    background-color: rgb(36, 209, 134);
    border-radius: 10px;
    padding: 2%;
    width: 100%;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.button-container {
    width: 20%;
    margin: auto;
}

.start-button-container {
    width: 90%;
    margin: auto;
}

.right-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    padding: 2%;
    justify-content: center;
    text-align: center;
}

.right-top-container {
    display: flex;
    flex-direction: column;
    width: 68%;
    height: 80%;
    padding: 2%;
}

.right-bottom-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%;
    padding: 2%;
}

.player-ul {
    max-height: 90%;
}

.header-li {
    display: flex;
    flex:1;
    border-bottom: 3px solid rgb(36, 209, 134);
    font-weight: 900;
    padding-bottom: 1%;
}

.player-li {
    display: flex;
    flex:1;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: 400;
}

.player-li:nth-child(odd) {
    background-color: rgba(36, 209, 134, 0.1);
}

.player {
    display: flex;
    width: 50%;
    justify-content: center;
}

.status {
    display: flex;
    width: 50%;
    justify-content: center;
}

@media screen and (max-width: 680px) {
    .qr-info{
        display: none;
    }
    .left-container {
        width: 100%;
        height: 20%;
        flex-direction: row;
    }
    .right-top-container {
        width: 100%;
        height: 70%;
    }
    .right-bottom-container {
        width: 100%;
        height: 10%;
    }
    .start-button-container {
        width: 50%;
    }
}

.music-label {
    width: 20%;
    font-size: 95%;
}

.slider-container {
    width: 35%;
  }
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(36, 209, 134);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(36, 209, 134);
    cursor: pointer;
}
