@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    /* outline: 1px solid white;    */
}
html{
    height: 100%;
    width: 100%;
}
body { 
    height: 100%; 
    width: 100%;
    background-color: #111;
}

#main_container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 9fr;
    row-gap: 20px;
    background-color: #111;
}

h2 {
    font-size: 2.5vmax;
    padding: 5%;
}

#page_container {
    height: 100%;
    width: 95%;
    margin: auto;
    font-size: 2.5vmax;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;  
    display: flex;
    align-items: center;
    justify-content: center;
}

#page_container span{
    width: 100%;
    text-align: center;
    /* align-items: center;
    justify-content: center; */
}



#login_sheet {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;

    clip-path: circle(100% at 50% 50%);
    transition: clip-path 1000ms ease-in-out;
    border-radius: 20px;
}

#login_sheet.after {
    clip-path: circle(0% at 50% 50%); 
}

#status_sheet {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #111;
    border-radius: 20px;
}

#indicator_sheet {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(36, 209, 134);
    background-color: rgb(36, 209, 134);

    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}
#username_input {
    padding: 3%;
    background-color: transparent;
    border: 5px solid rgb(36, 209, 134);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 80%;
}

#username_input:focus{
    outline: none;
    animation: rainbow_border 3s infinite;
}

@keyframes rainbow_border{
    0%{
        border-color:rgb(209, 36, 36);
    }
    18%{
        border-color:rgb(209, 149, 36);
    }
    36%{
        border-color:rgb(209, 203, 36);
    }
    56%{
        border-color:rgb(36, 209, 134);
    }
    65%{
        border-color:rgb(36, 50, 209);
    }
    85%{
        border-color:rgb(94, 36, 209);
    }
    100%{
        border-color:rgb(195, 36, 209);
    }
}

#button_input {
    border: none;
    font-weight: 900;
    margin: 5%;
    padding: 3%;
    background-color: rgb(36, 209, 134);
    border-radius: 20px;
    cursor: pointer;
}
