@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;

}
h1{
    width: 100%;
    text-align: center;
}

body { 
    height: 100%; 
    width: 100%;
    background-color: #111;
}

#spectator_container{
    width: 100vw;
    height: 100vh;
    /* background-image: url('https://images-ext-2.discordapp.net/external/lzNYY4cQ-V-dW2eYN0OLXnL0zVgJ6N8iITaWbZzQI-o/%3Falt%3Dmedia%26token%3Db515303a-5290-462e-837f-50c43822e11d/https/firebasestorage.googleapis.com/v0/b/the-phisherman.appspot.com/o/duotone%2520%282%29-min.png?width=1246&height=701'); */
    background-color: #111;
    display: flex;
    align-items: center;
    display: grid;
    color: white;
    display: grid;
    grid-template-rows: .1fr 1fr .1fr 1fr;
}
#spectator_container section{
    display: block;
    width: 90vw;
    height: 90%;
    margin: 0 auto 0 auto;
    color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    width: 90%;
    margin: auto;
    height: fit-content;
    border-bottom: 3px #24d186 solid;
}
header span{
    width: 100%;
    font-size: 22px;
    padding-top: 10px;
    margin-bottom: 10px;
    
    font-weight: bold;
}
section ol{
    list-style: none;
    width: 90%;
    margin: auto;
}
section ol li{
    font-size: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 10px;
}
.border{
    border-radius: 10px;
    background-color: transparent;
    border: 5px solid rgb(36, 209, 134);
}
.in{
    color: white;
}
.out{
    color: red;
}