*{
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#spectator_container{
    width: 100vw;
    height: 100vh;
    background-image: url('https://images-ext-2.discordapp.net/external/lzNYY4cQ-V-dW2eYN0OLXnL0zVgJ6N8iITaWbZzQI-o/%3Falt%3Dmedia%26token%3Db515303a-5290-462e-837f-50c43822e11d/https/firebasestorage.googleapis.com/v0/b/the-phisherman.appspot.com/o/duotone%2520%282%29-min.png?width=1246&height=701');
    display: flex;
    align-items: center;
}
#spectator_container #pad_container{
    width: 90vw;
    height: 80vh;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: inset 3px 3px 6px 1px #c6c6c6;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 90%;
    margin: auto;
    height: fit-content;
    border-bottom: 3px #FBC72F solid;
}
header span{
    width: 100%;
    font-size: 32px;
    padding-top: 10px;
    margin-bottom: 10px;
    color: #7b7b7b;
}
#pad_container section ol{
    list-style: none;
    width: 90%;
    margin: auto;
}
#pad_container section ol li{
    font-size: 18px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin-top: 10px;
}
.in{
    width: 100%;
    color: #7b7b7b;
}
.out{
    color: red;
}